<section id='comment-section'>
    {{#each this.post.comments}}
    <section class='comment'>
        <section class='comment-header'>
            <b>{{user.username}}</b> > {{format_date created_at}}
            {{#isCommentOwnedBySessionUser this.user_id}}
                <a href="/dashboard/editComment/{{id}}">Edit</a> | <a href="#" class="delete-comment" data-id="{{id}}">Delete</a>
            {{/isCommentOwnedBySessionUser}}
        </section>
        <section class='comment-body'>
            {{{format_content comment_content}}}
        </section>
    </section>
    {{/each}}
</section>
<script src="/js/delete-comment.js"></script>