<section class="card">
    <header>
        <a href="/post/{{id}}">{{post_title}}</a>
  </header>
  <section>
    <section>
        <input type="hidden" name="post-id" value="{{id}}" />
        {{user.username}} > {{format_date created_at}} <a href="/dashboard/edit/{{id}}">Edit</a> | <a href="#" id="delete-post">Delete</a>
    </section>
    <section>
        {{post_content}}
    </section>
    <section>
        <a href="/post/{{id}}/#comments">Comments ({{comments.length}})</a>
    </section>
  </section>
</section>
<script src="/js/delete-post.js"></script>